.select-drop-down input {
    color: #8ab4f8;
    font-size: 15px;
    padding: 5px 15px;
}

.select-drop-down .down-arrow svg {
    position: relative;
    left: 265px;
    top: -33px;
    fill: #8ab4f8;
    height: 26px;
    width: 26px;
}