.output,
.input {
  display: flex;
  flex-direction: column;
  width: 300px;
}

textarea {
    background-color: transparent;
    color: #bdc1c6;
    border: none;
    resize: none;
    padding: 18px;
    height: 146px;
    border-radius: 10px;
    outline: none;
    overflow: auto;
    font-size: 28px;
    margin-top: 10px;
}

.output textarea {
    background-color: #303134;
}